/******** Reset CSS Start************/

/* Remove default margin, padding, and set box sizing */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove default list styles */
ul,
ol,
menu {
  list-style: none;
}

/* Remove default link styling */
a {
  text-decoration: none;
  color: inherit;
}

/* Reset headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Reset body */
body {
  -webkit-font-smoothing: antialiased; /* macOS/iOS */
  -moz-osx-font-smoothing: grayscale; /* Firefox macOS */
  text-rendering: optimizeLegibility;
}

/* Make media elements scale */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: 100%;
  user-select: none;
}

img {
  object-fit: cover;
}

/* Remove border & inherit fonts for form elements */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

/* Reset button styles */
button {
  cursor: pointer;
  background: transparent;
}

/* Reset tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

/* Reset quotes */
blockquote,
q {
  quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

/* Reset code, pre, samp */
code,
kbd,
samp,
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

/******** Reset CSS End************/